nav{
    display:flex;
    justify-content: space-evenly;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: fit-content;
    font-weight: bold;
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    nav {
        font-size: 1rem;
        padding-left: 7rem;
        padding-right: 1rem;
        overflow: scroll;
    }
}